.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-modal-content {
    

    background: #eaf1f7;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 30%;
    padding: 1rem;
    position: relative;
  }
  
  .custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .custom-modal-header h2 {
    margin: 0;
    color: #003366; /* Dark blue color */
  }
  
  .custom-modal-close {
    background: none;
    border: none;
    font-size: 2rem;
    color: #003366;
    cursor: pointer;
  }
  
  .custom-modal-body {
    display:flex;
    flex-direction:column;
    padding:0.75rem;
  }
  
  .custom-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top:1rem;
  }
  
  .custom-modal-btn {
    padding: 0.5rem;
    
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .custom-modal-btn.submit {
    background-color: #003366; /* Dark blue */
    color: white;
  }
  
  .custom-modal-btn.cancel {
    background-color: #e0e0e0; /* Light grey */
    color: #003366; /* Dark blue */
  }
  
  .custom-modal-btn:hover {
    opacity: 0.8;
  }
  